@using TaskManager.UI.Services
@using TaskManager.UI.Components.Shared
@inject NavigationManager Navigation
@inject AppState AppState

<div class="d-flex flex-column align-items-center p-3 bg-light text-white min-vh-100">

    <img src="images/home_logo_icad.png" alt="Logo" class="img-fluid mb-3" style="max-height: 80px;" />


    <h4 class="text-center mb-4 text-dark text-nowrap fs-5">Task Manager Demo</h4>


    <input type="checkbox" title="Navigation menu" class="navbar-toggler d-none" />


    <nav class="w-100 d-flex flex-column">
        <div class="w-100 px-4 mb-2">
            @if (!AppState.IsAuthenticated)
            {
                <NavItem Href="/" Text="Home" Icon="bi bi-house-fill" Match="NavLinkMatch.All" />
            }
            else
            {
                <NavItem Href="/" Text="Lista De Tarefas" Icon="bi bi-clipboard-check" Match="NavLinkMatch.All" />
            }
            
        </div>

        @if (AppState.IsAuthenticated)
        {
            <div class="w-100 px-4 mb-2">
                <NavItem Href="/novatarefa" Text="Nova Tarefa" Icon="bi bi-clipboard-plus" />
            </div>

            <div class="w-100 px-4 mb-2">
                <LogoutButton />
            </div>
        }
    </nav>
</div>
