@rendermode InteractiveServer
@using TaskManager.UI.Services
@inject NavigationManager Navigation
@inject AppState AppState

<button class="btn btn-danger d-flex align-items-center gap-2 w-100 px-4 fw-bold" @onclick="Logout">
    <i class="bi bi-box-arrow-left"></i>
    <span class="text-white fw-semibold">Sair</span>
</button>

@code {
    private void Logout()
    {
        AppState.LimparUsuario();
        AppState.SetAuthentication(false);
        Navigation.NavigateTo("/", forceLoad: true);
    }
}
